* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  background-color: var(--baggrund);
}

footer h2 {
  color: var(--farve3);
}

footer {
  background-color: var(--farve7);
}

.footer_grid_1_1_1 {
  background-color: var(--farve1);
  padding: 0 20px 50px 40px;
}

.footer_pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer_pictures2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cooperates {
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 20px;
}

.footer_pictures img {
  width: 60px;
}

.tombola {
  height: 60px;
}

.find img {
  width: 70px;
}

.find_grid {
  display: flex;
  flex-direction: start;
  padding-top: 10px;
}

.find {
  padding-bottom: 50px;
}

.phone {
  background-color: var(--baggrund);
  width: 200px;
  margin-bottom: 20px;
  padding: 7px;
  margin-top: 20px;
}

p.phone,
p.mail {
  color: var(--farve6);
}

.mail {
  background-color: var(--baggrund);
  width: 200px;
  margin-bottom: 20px;
  padding: 7px;
}

.knap2 {
  background-color: var(--farve7);
  border: 2px solid var(--farve1);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "mire1";
}

.knap {
  background-color: var(--farve7);
  border: 2px solid var(--farve1);
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%);
  text-align: center;
  font-family: "mire1";
}

.forside_h1 {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -205%);
  text-align: center;
  font-size: 64px;
}

.forside_h2 {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -105%);
  text-align: center;
  font-size: 27px;
  font-family: "mire1";
}

.tekster_grid_1_1 {
  background-color: var(--farve7);
  padding: 70px 25px 30px 25px;
}

.tekster_grid_1_1 h2 {
  padding-bottom: 15px;
}

.forside_tekst {
  background-color: var(--baggrund);
  border-radius: 20px;
  padding: 30px;
  margin: 30px 10px 30px 10px;
}
.info_tekst {
  background-color: var(--baggrund);
  border-radius: 20px;
  padding: 30px;
  margin: 30px 10px 30px 10px;
}

p {
  line-height: 30px;
  color: var(--farve3);
}

@media (min-width: 800px) {
  .tekster_grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .mobile-image {
    display: none; /* Skjul mobilbilledet */
  }

  .footer_grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0% 12% 5% 12%;
    gap: 30px;
  }
}

.forside_billede {
  width: 100%;
  position: relative;
  box-shadow: 0px 43px 73px -23px rgba(128, 150, 113, 0.77);
  -webkit-box-shadow: 0px 43px 73px -23px rgba(128, 150, 113, 0.77);
  -moz-box-shadow: 0px 43px 73px -23px rgba(128, 150, 113, 0.77);
}

@media (max-width: 800px) {
  .laptop-image {
    display: none; /* Skjul laptopbilledet */
  }

  .footer_grid_1_1_1 {
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr;
  }
}
