.top_footer_billede {
  margin-bottom: -10px;
}

ol li {
  list-style: none;
  text-decoration: none;
}
li {
  padding: 0px;
}
ol {
  padding: 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  list-style: none;
  text-decoration: none;
  color: var(--farve2);
  font-family: Helvetica, sans-serif, Arial;
  line-height: 1.5em;
  font-size: 1.4em;
  font-weight: 400;
}

#months h2 {
  padding: 0px;
  color: var(--farve2);
  font-family: Helvetica, sans-serif, Arial;
  font-size: 1.5em;
  font-weight: 800;
}
#months.active a {
  font-family: Helvetica, sans-serif, Arial;
  font-size: 1.5em;
  font-weight: 800;
}
body {
  font-size: 0.6em;
}
body,
main,
.indhold_c,
.hold,
.streg_flex {
  background-color: var(--baggrund);
}
#months {
  display: none;
  padding: 20px 0px 0px 0px;
  position: fixed;
  z-index: 100;
}

#months li {
  font-size: 10px;
}

#months .active h2 {
  font-family: Helvetica, sans-serif, Arial;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--farve1);
}

section h2 {
  font-family: Helvetica, sans-serif, Arial;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--farve1);
}
.indhold {
  background-color: blue;
  height: 300px;
  display: flex;

  align-items: center;
  flex-direction: column;
}
.indhold img {
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.indhold p {
  text-align: center;
}
.hold {
  padding-top: 100px;
  position: sticky;
  top: 0;
  z-index: 1000; /* Justér om nødvendigt for at håndtere lagpositionering */
}
.svamp_linje {
  aspect-ratio: 1/1;
  width: 30px;
  border-radius: 0%;
  transform: translateY(12px);
}

.indhold img {
  margin-top: 20px;
}

.indhold img:hover {
  box-shadow: 0px 19px 25px 0px rgba(173, 173, 173, 0.75);
  -webkit-box-shadow: 0px 19px 25px 0px rgba(173, 173, 173, 0.75);
  -moz-box-shadow: 0px 19px 25px 0px rgba(173, 173, 173, 0.75);
}
.streg_flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--farve1);
}
main section {
  /* height: 100vh; */

  padding-left: 120px;
  padding-right: 20px;
}
.active {
  text-decoration: none;
  font-family: "h1" Helvetica, sans-serif, Arial;
  font-weight: 800;
  /* font-size: 1.16em; */
  color: var(--farve2);
}

body {
  font-size: 1em;
}
main {
  /* scroll-behavior: smooth;
transition: 1s; */
  margin: 40px;
}

main section {
  /* height: 100vh; */

  padding-left: 0px;
}
section img {
  /* width: 30%; */
  border-radius: 50%;
}

.footer_pictures2 img {
  width: 150px;
}

.kort:hover .hover_tekst {
  font-weight: bold;
}

/* .linje {
border-bottom: 4px solid var(--farve1);
box-sizing: border-box;
} */

.indhold {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: rgba(0, 0, 255, 0);
  height: auto;
}
.indhold img {
  width: 100%;

  aspect-ratio: 1/1;
  object-fit: cover;
}

.kort {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: subgrid;
  grid-row: span 2;
}

.svamp_linje {
  aspect-ratio: 1/1;
  width: 60px;
  border-radius: 0%;
  transform: translateY(12px);
}
/* .indhold.active.svamp_linje {
transform: translateY(20px);
} */
.streg_flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid var(--farve1);
}

@media (min-width: 800px) {
  .logo a p {
    font-size: 1.5em;
  }

  body {
    font-size: 1em;
  }
  main {
    /* scroll-behavior: smooth;
  transition: 1s; */
    margin: 40px;
  }

  main section {
    /* height: 100vh; */

    padding-left: 300px;
  }
  section img {
    /* width: 30%; */
    border-radius: 50%;
  }

  #months {
    display: block;
    padding: 0px 0px 0px 40px;
    position: fixed;
  }

  #months li {
    font-size: 16px;
  }

  .streg_flex h2 {
    padding-top: 10px;
  }

  /* .linje {
  border-bottom: 4px solid var(--farve1);
  box-sizing: border-box;
} */

  .indhold {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    background-color: rgba(0, 0, 255, 0);
    height: auto;
  }
  .indhold img {
    width: 100%;

    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .hold {
    padding-top: 80px;
    position: sticky;
    top: 0;
    z-index: 1000; /* Justér om nødvendigt for at håndtere lagpositionering */
  }
  /* .kort {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: subgrid;
  grid-row: span 2;
} */
  .svamp_linje {
    aspect-ratio: 1/1;
    width: 60px;
    border-radius: 0%;
    transform: translateY(12px);
  }
  /* .indhold.active.svamp_linje {
  transform: translateY(20px);
} */
  .streg_flex {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid var(--farve1);
  }
}
