body {
  background-color: var(--baggrund);
  /* cursor: url("./ikoner/pil2.svg"), auto; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-inline: auto;
}

@media (max-width: 800px) {
  .circle-container {
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    place-items: center;
    width: 300px;
    list-style: none;
  }
  .wheel p {
    text-align: center;
    color: var(--farve3);
  }
}

.wheel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2px;
  background-color: #fffef8;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 30px;
}

.wheel:hover {
  scale: 110%;
  transition: 0.2s;
}
.ikoner {
  width: 40%;
}
.top {
  display: none;
}

.wheel_text_box h3 {
  text-align: center;
  font-family: "h1", Helvetica, sans-serif, Arial;
  font-weight: 400;
  font-size: 1.6em;
  color: var(--farve2);
}
.wheel_text_box p {
  text-align: center;
  font-family: Helvetica, sans-serif, Arial;
  font-weight: 400;
  font-size: 1.25em;
  color: var(--farve3);
}
a {
  text-decoration: none;
}

.wheel_footer {
  width: 100%;
}

.top_footer_billede {
  margin-bottom: -10px;
}

@media (min-width: 800px) {
  main {
    height: 1400px;
  }
  .wheel_box li {
    display: grid;
    gap: 10px;
    place-items: center;
    justify-content: center;
  }
  /* .wheel_box {
    grid-template-columns: 1fr;
  } */
  /* billederen roter der inden fjern img  */
  .circle-container img {
    display: block;
    max-width: 100%;
    /* border-radius: 50%; */

    transition: 0.15s;
    clip-path: polygon(
      0% 15%,
      15% 85%,
      30% 95%,
      70% 95%,
      85% 85%,
      100% 15%,
      85% 0%,
      15% 0%
    );
  }

  :root {
    --num-elements: 12;
    --circle-radius: 35rem;
    --font-size: 16px;
    --deg: 1000;
  }
  .circle-container {
    position: relative;
    width: var(--circle-radius);
    height: var(--circle-radius);
    border-radius: 50%;
    padding: 0;
    list-style: none;
    margin: 5rem auto 0;
    border: solid 5px var(--baggrund);
  }

  .circle-container > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3.2rem;
    width: 6rem;
    height: 6rem;
    transform: rotate(calc(360 / var(--num-elements) * var(--deg)))
      translate(calc(var(--circle-radius) / 2))
      rotate(calc(360 / var(--num-elements) * calc(var(--deg) * -1)));
  }
  .circle-container a {
    transform: rotate(calc(90deg + (30 * var(--deg))));
  }
  .circle-container > *:nth-of-type(1) {
    --deg: 9deg;
  }
  .circle-container > *:nth-of-type(2) {
    --deg: 10deg;
  }
  .circle-container > *:nth-of-type(3) {
    --deg: 11deg;
  }
  .circle-container > *:nth-of-type(4) {
    --deg: 12deg;
  }
  .circle-container > *:nth-of-type(5) {
    --deg: 1deg;
  }
  .circle-container > *:nth-of-type(6) {
    --deg: 2deg;
  }
  .circle-container > *:nth-of-type(7) {
    --deg: 3deg;
  }
  .circle-container > *:nth-of-type(8) {
    --deg: 4deg;
  }
  .circle-container > *:nth-of-type(9) {
    --deg: 5deg;
  }
  .circle-container > *:nth-of-type(10) {
    --deg: 6deg;
  }
  .circle-container > *:nth-of-type(11) {
    --deg: 7deg;
  }
  .circle-container > *:nth-of-type(12) {
    --deg: 8deg;
  }
  .wheel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2px;
    background-color: #fffef8;
    width: 120px;
    height: 130px;
    clip-path: polygon(
      0% 15%,
      15% 85%,
      30% 95%,
      70% 95%,
      85% 85%,
      100% 15%,
      85% 0%,
      15% 0%
    );

    /* clip-path: polygon(
      0% 15%,
      15% 85%,
      30% 95%,
      70% 95%,
      85% 85%,
      100% 15%,
      85% 0%,
      15% 0%
    ); */
  }
  /* .wheel_box {
    transform-origin: center;
    position: relative;
  } */
  /* .wheel-container {
    transform-origin: center;
  } */

  .wheel p {
    text-align: center;
    color: var(--farve3);
  }

  /* .wheel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  } */

  .ikoner {
    width: 50%;
  }
  .wheel_box h2 {
    font-family: "h1", Helvetica, sans-serif, Arial;
    font-weight: 400;
    font-size: 2.25em;
    color: var(--farve2);
  }
  .wheel_text_box {
    width: 300px;
    position: absolute;
    top: 580px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .top {
    text-align: center;
    display: block;
    font-family: "h1", Helvetica, sans-serif, Arial;
    font-weight: 400;
    font-size: 6em;
    color: var(--farve2);
  }
}
